.instagram-feed {
	width: 100%;
}
.instagram-feed ul {
	display: block;
    margin: 0;
	list-style: none;
}
.instagram-feed li {
	position: relative;

	display: inline-block;

	float: left;
}
.instagram-feed li a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: 0;

	background-size: cover;
	background-position: center;
}
.instagram-feed li a::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	background: rgba(0,0,0,0);

	transition: all 0.2s ease-in-out;
}
	.instagram-feed li:hover a::before {
		background: rgba(255,0,0,0.4);
	}

@media (max-width: 768px) {
	.instagram-feed ul.mobile-true {
		display: flex;
	}

	.instagram-feed ul.mobile-true li {
		width: calc(100vw/3) !important;
		height: calc(100vw/3) !important;
	}
	.instagram-feed ul.mobile-true li:nth-child(n+4) {
		display: none;
	}
}
